.footer {
    background: #0000;
}

.footer-container {
    max-width: 1200px;
    height: 300px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-texto{
    font-size: 1.8rem;
    line-height: 1.33;
    color: #070707;
}

.footer-contato li{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.1;
    color: #070707;
    margin-bottom: 30px;
}

.footer-contato li a{
    font-size: 1.5rem;
    color: #070707;
    text-decoration: none;
}

.footer-copy{
    grid-column: 1 / -1;
    font-size: 1.325rem;
    color: #070707;
    text-align: center;
}
.instagram-icon {
    font-size: 32px;
    text-decoration: none;
    background: linear-gradient(
        45deg,
        #f09433,
        #e6683c,
        #dc2743,
        #cc2366,
        #bc1888
    );
}

.fa-linkedin {
    color: #0A66C2;
    font-size: 2rem;
    transition: 0.3s;
}


@media(max-width:800px){
    .footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-contato li{
        font-size: 1.5rem;
    }
    .footer-texto{
        font-size: 1.25rem;
    }
}